<%- include("templates/cabecera", {tituloWeb: 'Pagina de inicio'}) %>

     <h1 class="text-primary">Titulo de mi sitio web EJS</h1><!--<%-  %> para descifrar codigo  -->
     <h2><%= titulo %></h2><!-- se manda a llamar el titulo de app.js ejs expressJs -->
     <p>Sigues funncionando bb?</p>

<%- include("templates/footer") %>

