<%- include("templates/cabecera", {tituloWeb: 'Pagina de servicios'}) %>

     <h1><%= tituloServicios %></h1>
     <!-- Se puede cambiar el contneido mientras sigue haciendo referencia
     a la cabecera -->


<%- include("templates/footer") %>
